.fs-14{
  font-size: 14px !important;
}

.fs-18{
  font-size: 18px !important;
}
.fs-16{
  font-size: 16px !important;
}
.fs-20{
  font-size: 20px !important;
}
.fs-35{
  font-size: 35px !important;
}

.decoration{
  text-decoration: none;
}

