<main class="body">
  <!-- here the error-404 page code is defined -->
  <div class="container">
    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>404</h1>
      <h2>The page you are looking for doesn't exist.</h2>
      <a class="btn decoration" [routerLink]="'/home'">Back to home</a>
      <img src="../../../assets/images/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
      <div class="credits">
        Designed by <a class="decoration" href="">Shashwat</a> & <a class="decoration" href="">Girish</a>
        </div>
    </section>

  </div>
</main>
