
  
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>

        
         
      </button>
      <span>Welcome Girish</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" routerLink="post-job">
        Post a Job
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button (click)="logOut()" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  
    
<div class="container">
   

<div class="row">
    <div class="col-md-3 ">
        <div class="card info-card sales-card">
    
          <div class="card-body">
            <div class="row justify-content-between align-items-center ">
              <div class="col-auto">
                <h6 class="d-flex align-items-center"> {{totalUsers}} 
                  <!-- <span style="margin-left: 5px;"
                    class="text-danger pl-1 fs-12 pt-1 fw-bold"> +12%</span> -->
                  </h6>
                <h5 class="">Total Candidate</h5>
              </div>
              <!-- <div class="col-auto">
                <div class="icon-red">
                  <i class="bi bi bi-arrow-down-left"></i>
                </div>
              </div> -->
    
            </div>
    
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card info-card sales-card">
    
          <div class="card-body">
            <div class="row justify-content-between align-items-center ">
              <div class="col-auto">
                <h6 class="d-flex align-items-center"> {{totalUsers}} 
                  <!-- <span style="margin-left: 5px;"
                    class="text-danger pl-1 fs-12 pt-1 fw-bold"> +12%</span> -->
                  </h6>
                <h5 class="">Total Candidate</h5>
              </div>
              <!-- <div class="col-auto">
                <div class="icon-red">
                  <i class="bi bi bi-arrow-down-left"></i>
                </div>
              </div> -->
    
            </div>
    
          </div>
        </div>
      </div>   
      <div class="col-md-3 ">
        <div class="card info-card sales-card">
    
          <div class="card-body">
            <div class="row justify-content-between align-items-center ">
              <div class="col-auto">
                <h6 class="d-flex align-items-center"> {{totalUsers}} 
                  <!-- <span style="margin-left: 5px;"
                    class="text-danger pl-1 fs-12 pt-1 fw-bold"> +12%</span> -->
                  </h6>
                <h5 class="">Total Candidate</h5>
              </div>
              <!-- <div class="col-auto">
                <div class="icon-red">
                  <i class="bi bi bi-arrow-down-left"></i>
                </div>
              </div> -->
    
            </div>
    
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card info-card sales-card">
    
          <div class="card-body">
            <div class="row justify-content-between align-items-center ">
              <div class="col-auto">
                <h6 class="d-flex align-items-center"> {{totalUsers}} 
                  <!-- <span style="margin-left: 5px;"
                    class="text-danger pl-1 fs-12 pt-1 fw-bold"> +12%</span> -->
                  </h6>
                <h5 class="">Total Candidate</h5>
              </div>
              <!-- <div class="col-auto">
                <div class="icon-red">
                  <i class="bi bi bi-arrow-down-left"></i>
                </div>
              </div> -->
    
            </div>
    
          </div>
        </div>
      </div>    

</div>

<div class="row mt-3">
    <div class="col-md-12">
      <div class="text-main">Recent Published Jobs</div>
    </div>
    <div class="col-md-6">
      <div class="card info-card sales-card mt-3">
        <div class="card-body ">
          
            <div class="row  align-items-center ">
              <div class="col-12">
                <div class="row align-items-center justify-content-between">
                  <div class="col-auto">
                    <div class="icon-red">
                      <img class="w-28" src="../../../assets/images/task1.png" alt="">
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi text-white bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li><a class="dropdown-item" href="#"> View</a></li>
                        <li><a class="dropdown-item" href="#">Add</a></li>
                        <li><a class="dropdown-item" href="#">Remove</a></li>
                      </ul>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="col-auto mt-3">
                <h6 class="d-flex mb-3 text-sub  align-items-center">Adobe XD Designer </h6>
                <h5 class="m-0">Fresher/Seniors</h5>
              </div>