
  
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>

        
         
      </button>
      <span>Welcome Girish</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" routerLink="post-job">
        Post a Job
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button (click)="logOut()" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  
    
<div class="container">
   

<div class="row">
    <div class="col-md-3 ">
        <div class="card info-card sales-card">
    
          <div class="card-body">
            <div class="row justify-content-between align-items-center ">
              <div class="col-auto">
                <h6 class="d-flex align-items-center"> {{totalUsers}} 
                  <!-- <span style="margin-left: 5px;"
                    class="text-danger pl-1 fs-12 pt-1 fw-bold"> +12%</span> -->
                  </h6>
                <h5 class="">Total Candidate</h5>
              </div>
              <!-- <div class="col-auto">
                <div class="icon-red">
                  <i class="bi bi bi-arrow-down-left"></i>
                </div>
              </div> -->
    
            </div>
    
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card info-card sales-card">
    
          <div class="card-body">
            <div class="row justify-content-between align-items-center ">
              <div class="col-auto">
                <h6 class="d-flex align-items-center"> {{totalUsers}} 
                  <!-- <span style="margin-left: 5px;"
                    class="text-danger pl-1 fs-12 pt-1 fw-bold"> +12%</span> -->
                  </h6>
                <h5 class="">Total Candidate</h5>
              </div>
              <!-- <div class="col-auto">
                <div class="icon-red">
                  <i class="bi bi bi-arrow-down-left"></i>
                </div>
              </div> -->
    
            </div>
    
          </div>
        </div>
      </div>   
      <div class="col-md-3 ">
        <div class="card info-card sales-card">
    
          <div class="card-body">
            <div class="row justify-content-between align-items-center ">
              <div class="col-auto">
                <h6 class="d-flex align-items-center"> {{totalUsers}} 
                  <!-- <span style="margin-left: 5px;"
                    class="text-danger pl-1 fs-12 pt-1 fw-bold"> +12%</span> -->
                  </h6>
                <h5 class="">Total Candidate</h5>
              </div>
              <!-- <div class="col-auto">
                <div class="icon-red">
                  <i class="bi bi bi-arrow-down-left"></i>
                </div>
              </div> -->
    
            </div>
    
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card info-card sales-card">
    
          <div class="card-body">
            <div class="row justify-content-between align-items-center ">
              <div class="col-auto">
                <h6 class="d-flex align-items-center"> {{totalUsers}} 
                  <!-- <span style="margin-left: 5px;"
                    class="text-danger pl-1 fs-12 pt-1 fw-bold"> +12%</span> -->
                  </h6>
                <h5 class="">Total Candidate</h5>
              </div>
              <!-- <div class="col-auto">
                <div class="icon-red">
                  <i class="bi bi bi-arrow-down-left"></i>
                </div>
              </div> -->
    
            </div>
    
          </div>
        </div>
      </div>    

</div>

<div class="row mt-3">
    <div class="col-md-12">
      <div class="text-main">Recent Published Jobs</div>
    </div>
    <div align-items-center >
      <div>
          <div class="card-body card">
              <div class="card-header">
                  <h1 class="card-header-title">Available Jobs</h1>
              </div>
              <div class="row">
                <div class="col-md-5 search-bar">
                    <mat-form-field class="search-form d-flex align-items-center">
                        <input class="search-input" matInput [autocomplete]="'off'" [placeholder]="'Search job or company'" (keyup)="searchUser($event)" >
                    </mat-form-field>
                </div>
                </div>
              </div>
              <table class="w-full  table  table-hover  col-lg-12" mat-table matSort [dataSource]="data" [trackBy]="trackByFn" >
          <ng-container matColumnDef="jobTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Title </th>
            <td mat-cell *matCellDef="let job"> <span class="pr-6 whitespace-nowrap">{{job.jobTitle}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
            <td mat-cell *matCellDef="let job"><span class="pr-6 whitespace-nowrap">{{job.companyName}}</span> </td>
          </ng-container>
          <ng-container matColumnDef="salary">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
              <td mat-cell *matCellDef="let job"><span class="pr-6 whitespace-nowrap">{{job.salary}}</span></td>
            </ng-container>
  
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let job">
              <span class='icon'>
  
                <button class="btn  btn-light-blue" [routerLink]="['edit', job._id]" data-bs-toggle="tooltip"
                  data-bs-placement="bottom" title="Edit">
                  <i class="bi bi-pencil-fill"></i>
                </button>
  
                <button class="btn btn-red" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"
                  ><i class="bi bi-trash-fill"></i></button>
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="jobsListTableColumns"></tr>
          <tr class="stock-row h-16" mat-row *matRowDef="let row; columns: jobsListTableColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="5" [showFirstLastButtons]="true">
        </mat-paginator>
          </div>
      </div>
  </div>
</div>