<div class="container">
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="home">
          <img
            src="../../../assets/images/cooltext440279962760937.png"
            height="30"
            alt="Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Find Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Prepare</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        
  
        <!-- Notifications -->
        <div class="dropdown">
          <a
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>
        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            matTooltip="Profile"
            [matMenuTriggerFor]="userAccountMenu"
            role="button"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
            <button mat-menu-item>
                <mat-icon>person</mat-icon><span>My profile</span>
            </button>
            <button mat-menu-item routerLink="#">
                <mat-icon>settings</mat-icon><span>Settings</span>
            </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon><span>Logout</span>
            </button>
            
        </mat-menu>
        </div>
        <!-- <div class="dropdown">
          <button mat-icon-button matTooltip="Profile" [matMenuTriggerFor]="userAccountMenu">
            <mat-icon>menu</mat-icon>
        </button>
        </div> -->
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</div>
<section class="find_jobs">
  <form class="row domain-search bg-pblue">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="form-title">Find Your <strong>Dream Domain</strong></h2>
                <p>Search for your dream domain now</p>
            </div>
            <div class="col-md-9">
                <div class="input-group">
                    <input type="search" class="form-control">
                    <span class="input-group-addon"><input type="submit" value="Search" class="btn btn-primary"></span>
                </div>
                <p>.com <strong>$8.95</strong>.net <strong>$7.95</strong>.org <strong>$9.95</strong>.club <strong>$0.99</strong></p>
            </div>
        </div>
    </div>
</form>
</section>
<section class="job">
  <div align-items-center >
    <div>
        <div class="card-body card">
            <div class="card-header">
                <h1 class="card-header-title">Available Jobs</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Status</mat-label>
                      <mat-select (selectionChange)="statusFilter($event)" [value]="''">
                        <mat-option [value]="''">
                          All
                        </mat-option>
                        <mat-option [value]="'open'">
                          Open
                        </mat-option>
                        <mat-option [value]="'closed'">
                          Closed
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
            </div>
            <table class="w-full  table  table-hover  col-lg-12" mat-table matSort [dataSource]="data" [trackBy]="trackByFn" >
        <ng-container matColumnDef="jobTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Title </th>
          <td mat-cell *matCellDef="let job"> <span class="pr-6 whitespace-nowrap">{{job.jobTitle}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
          <td mat-cell *matCellDef="let job"><span class="pr-6 whitespace-nowrap">{{job.companyName}}</span> </td>
        </ng-container>
        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
            <td mat-cell *matCellDef="let job"><span class="pr-6 whitespace-nowrap">{{job.salary}}</span></td>
          </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let job">
            <span class='icon'>

              <button class="btn  btn-light-blue" [routerLink]="['edit', job._id]" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Edit">
                <i class="bi bi-pencil-fill"></i>
              </button>

              <button class="btn btn-red" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"
                ><i class="bi bi-trash-fill"></i></button>
            </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="jobsListTableColumns"></tr>
        <tr class="stock-row h-16" mat-row *matRowDef="let row; columns: jobsListTableColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [showFirstLastButtons]="true">
      </mat-paginator>
        </div>
    </div>
</div>
</section>


<script>
  $(document).ready(function() {
    $('.dropdown-toggle').dropdown();
  });
</script>