.alert{
  position: relative;
  top: 0;
}
.alert-message{
  position: absolute;
  top: 60px;
  right: 10px;
}


.search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 40%;
}

.search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}
.search-input{
  width: auto!important;
}
