<app-recruiter-header></app-recruiter-header>



<div class="container">
    <form [formGroup]="recruiterSignup" class="form" >
      <div class="form-group">
        <label for="email"><b>Enter Your Name</b></label>
        <input type="text" placeholder="Enter Your Name" formControlName="name">
        <mat-error *ngIf="recruiterSignup.get('name').hasError('required') && recruiterSignup.get('name').touched">Field is required</mat-error>
        
        <label for="email"><b>Enter Email</b></label>
        <input type="text" placeholder="Enter Email" formControlName="email">
        <mat-error *ngIf="recruiterSignup.get('email').hasError('required') && recruiterSignup.get('email').touched">Field is required</mat-error>
        <mat-error *ngIf="recruiterSignup.get('email')?.hasError('email') && recruiterSignup.get('email').touched">Enter a valid email</mat-error>

      </div>
  
      <div class="form-group">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" formControlName="password">
        <mat-error *ngIf="recruiterSignup.get('password').hasError('required') && recruiterSignup.get('password').touched">Field is required</mat-error>
    </div>
  <div>
    <button class="btn btn-primary w-100" (click)="onReactiveFormSubmit()">Register</button>
  </div>

  
      <p class="p">Already have an account ?<span id="toggleSignUp" class="span"><a routerLink="/recruiter">Login Here</a>.</span></p>
    </form>
  </div>
  

  