<footer class="footer">
    <div class="footer-column">
      <h3>Contact</h3>
      <p>Email: contact@jobportalSG.com</p>
      <p>Phone: +1 (123) 456-7890</p>
    </div>
    <div class="footer-column">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra tincidunt quam.</p>
    </div>
    <div class="footer-column">
      <h3>Newsletter</h3>
      <p>Subscribe to our newsletter for the latest updates.</p>
      <input type="email" placeholder="Enter your email">
      <button>Subscribe</button>
    </div>
    <div class="footer-social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer-copyright">
      <p>&copy;2023 Copyright JobPortalSG. All rights reserved.</p>
    </div>
  </footer>