<div align-items-center >
    <div>
        <div class="card-body card">
            <div class="card-header">
                <h1 class="card-header-title">Companies Table</h1>
            </div>
            <div class="row">
                <div class="col-md-5 search-bar">
                    <mat-form-field class="search-form d-flex align-items-center">
                        <input matInput [autocomplete]="'off'" [placeholder]="'Search company or company'" (keyup)="searchCompany($event)" >
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Status</mat-label>
                      <mat-select (selectionChange)="statusFilter($event)" [value]="''">
                        <mat-option [value]="''">
                          All
                        </mat-option>
                        <mat-option [value]="'open'">
                          Open
                        </mat-option>
                        <mat-option [value]="'closed'">
                          Closed
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->
            </div>
            <table class="w-full  table  table-hover  col-lg-12" mat-table matSort [dataSource]="data" [trackBy]="trackByFn" >
              <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
                <td mat-cell *matCellDef="let company">
                  <span class="pr-6 whitespace-nowrap">{{company.companyName}}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="companyWebsite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Website </th>
                <td mat-cell *matCellDef="let company"><span class="pr-6 whitespace-nowrap">{{company.companyWebsite}}</span> </td>
              </ng-container>
                <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                  <td mat-cell *matCellDef="let company"><span class="pr-6 whitespace-nowrap">{{company.city}}</span></td>
                </ng-container>
                <!-- <ng-container matColumnDef="isBlocked">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let company"><span class="pr-6 whitespace-nowrap">{{company.status}}</span> </td>
                </ng-container> -->
      
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let company">
                  <span class='icon'>
      
                    <button class="btn  btn-light-blue" mat-raised-button (click)="openMoreDialog(company)"
                      data-bs-toggle="tooltip" data-bs-placement="bottom" title="More" color="warn">
                      more
                    </button>
      
                    <button class="btn btn-red" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" (click)="deleteFn(company._id)"
                      ><mat-icon>delete</mat-icon></button>
                  </span>
                </td>
              </ng-container>
              <!-- Header row -->
              <tr tr mat-header-row *matHeaderRowDef="companyListTableColumns"></tr>

              <!-- Data rows -->
              <tr class="stock-row h-16" mat-row *matRowDef="let row; columns: companyListTableColumns;"></tr>
            </table>
            <mat-paginator [pageSize]="5" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </div>
</div>