<div class="row mt-5">
  <div class="col-md-4">
    <div class="container">
      <form class="form">
        <p class="form-title">Create your account</p>
         <div class="input-container">
           <input type="email" placeholder="Enter email">
           <span>
           </span>
       </div>
       <div class="input-container">
           <input type="password" placeholder="Enter password">
         </div>
         <div class="input-container">
          <input type="password" placeholder="Re-enter your password">
        </div>
         
          <button type="submit" class="submit">
         Sign up
       </button>
      
       <p class="signin-link">
         Already have an account?
         <a routerLink="/recruiter">Login</a>
       </p>
      </form>
      </div>
  </div>
 
</div>
